.modal {
    position: absolute;
    min-width: 100%;
    height: 80vh;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: .5px .5px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.playlist-modal{
    height: inherit;
    width: inherit;
}

.modal-name{
    padding: .5rem 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-name>h2{
    font-size: 1.8vh;
}

.modal-info{
    width: 100%;
    height: 100%;
}

iframe{
    position: relative;
    width: 100%;
    height: 95%;
    padding: 0 2rem;
    padding-bottom: 1rem;
}

@media (max-width: 1660px) {
    .modal-name>h2{
        font-size: 1.6vh;
    }
}

@media (max-width: 1050px) {
    .modal{
        width: 100%;
    }
    .modal-name>h2{
        font-size: 1.5vh;
    }
}