.playlist-card {
    position: relative;
    width: inherit;
    min-width: 10vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 15px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.searchfilter{
    animation: fade-out .8s forwards;
    -webkit-animation: fade-out .8s forwards;
    order: 1;
}

@keyframes fade-out {
    to {
        opacity: 0;
        display: none;
    }

}

.playlist-card .image{
    width: 6vh;
    height: inherit;
}

.scale{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.playlist-card .image img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}


.playlist-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}


.playlist-card .info .name{
    position: relative;
    margin-left: .5vh;
    margin-right: 1vh;
}



.playlist-card>.info>.name>h2 {
    font-size: 1.4vh;
    line-break: auto;
}

.playlist-card>.info>.name>a>h2 {
    color: var(--main-bg-color);
}

/* .playlist-card>.name>div {
    display: flex;
    gap: 1rem;
} */

/* .playlist-card>.name>div>a>img {
    width: 25px;
    height: 25px;
    margin-top: 12.5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.playlist-card>.name>div>a>img:hover {
    transform: scale(1.1);
}

.playlist-card iframe{
    width: 100%;
} */

.link a{
    border-bottom: 1px solid transparent;
    text-decoration: transparent;
    margin-inline-end: 10px;
}
.link h3 a:hover, .active{
    border-bottom: 1.2px solid var(--secundary-bg-color);
    transition: 1s all;
}
.link h3>a{
    display: flex;
    justify-content: center;
    font-size: 1vh;
}